name: Build and test Go & Deploy to Lambda
on:
  workflow_dispatch:
  push:
    branches:
      - "feature-aws"
  pull_request:
    branches:
      - "main"

jobs:
  Go-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Get project resource
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.19' # The Go version to download (if necessary) and use.

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3.4.0

      - name: Run testing
        run: go test -v ./... -race -coverprofile=coverage.out -covermode=atomic

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          
  Deploy-to-Lambda:
    runs-on: ubuntu-latest
    needs: [Go-Test]
    if: ${{ github.ref == 'refs/heads/main'}}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Get project resource
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.19' 

      - name: Build Lambda bootstrap
        run: |
          GOOS=linux GOARCH=arm64 go build -o bootstrap main.go
          zip bootstrap.zip bootstrap
          aws lambda update-function-code --function-name line-message-analyzer --zip-file fileb://bootstrap.zip

 